[Unit]
Description=zfs plugin
After=zfs-mount.service zfs-import-cache.service
Before=docker.service
Requires=zfs-mount.service zfs-import-cache.service
ConditionPathIsMountPoint=/var/lib/docker-volumes/zfs


[Service]
ExecStart=/usr/bin/docker-zfs-plugin --dataset-name tank/docker-volumes

[Install]
WantedBy=docker.service
